{% comment %}
  Welcome to Shopify theme development!
{% endcomment %}

<div class="grid grid-cols-2 gap-12 pt-12">
  <div class="relative">
    <a href="collections/lessons" class="sticky top-12">
      <h2 class="tracking-tighter font-bold text-[40px]  uppercase">Design</h2>
      <h3 class="tracking-tighter pl-7 text-[40px] leading-1">Lessons</h3>
    </a>
  </div>
  <div class="">
    <a href="collections/lessons" class="flex flex-col gap-4">
      <img src="https://cdn.shopify.com/s/files/1/0813/2401/5851/files/IMG_5059.png?v=1772647896"/>
      <img src="https://cdn.shopify.com/s/files/1/0813/2401/5851/files/00034.jpg?v=1772648902"/>
    </a>
  </div>
  <div class="relative">
    <a href="collections/lessons" class="sticky top-12">
      <h2 class="tracking-tighter font-bold text-[40px]  uppercase">Direction</h2>
      <h3 class="tracking-tighter pl-7 text-[40px] leading-1">& Consulting</h3>
    </a>
  </div>
  <div class="">
    <a href="collections/lessons" class="flex flex-col gap-4">
      <img src="https://cdn.shopify.com/s/files/1/0813/2401/5851/files/00021.jpg?v=1772649363"/>
      <img src="https://cdn.shopify.com/s/files/1/0813/2401/5851/files/00011.jpg?v=1772649332"/>
    </a>
  </div>
</div>

{% stylesheet %}
{% endstylesheet %}

{% schema %}
{
  "name": "Hello World",
  "settings": [],
  "presets": [
    {
      "name": "Hello World Template",
      "category": "Demo"
    }
  ]
}
{% endschema %}
